*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 13px Helvetica;
  background-image : url("patterns/gplaypattern.png");
}

form {
  background: rgba(0,0,0,0.5);
  padding: 0px; position:relative;
  width: 100%;
  margin:0 auto;
  margin-bottom:100px;
}

form input {
  border: 0;
  padding: 10px;
  width: 80%;
  background:rgba(0,0,0,0.5);
  color:white;
}

form button {
  width: 20%;
  background:rgba(0,0,0,0.5);
  color:white;
  padding: 10px;
  font-size:1em;
  border:none;
}

#chat_button{
  border-left:4px #fff solid;
}

#messages {
  width:100%;
  list-style-type:none;
  margin:0 auto;
  padding:0px;
}

#messages li {
  padding: 20px 10px;
  background:rgb(255,255,255);
}

#messages li:nth-child(odd) {
  background:rgb(0,0,0);
  color:white;
}

#form_container{
  position:relative;
  width:100%;
  bottom:0px;
  max-height:500px;
}

#title {
  width:100%;
  text-align:center;
  margin-top:30px;
  margin-bottom:30px;
  font-size: 3em;
  font-family:Helvetica;
  text-transform: uppercase;
  font-weight: bold;
}

.w3-input{
  background-color:white;
  color:black;
}
